on: push
name: perl-tests

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: 
        perl: ["5.36.0", "5.34.1"]
    steps:
      #- run: sudo apt-get -y install tree libberkeleydb-perl libdb-dev bioperl perl cpanminus curl build-essential bioperl-run
      - uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          #install-modules: Bio::Perl Bio::SeqIO
          multi-thread: true
      - uses: actions/checkout@v3
      - run: perl -V
      - name: perl Makefile.PL
        run: |
          perl Makefile.PL
          make
      - run: cpanm --installdeps .
      - run: prove -lv t
